.header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 35px;
  margin-right: 1rem;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}

.header nav a:hover {
  text-decoration: underline;
}

.button_logout {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  margin-left: 1rem;
}

.button_logout:hover {
  text-decoration: underline;
}
