.profile-container {
  width: 80%; 
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(204, 205, 201, 0.6); 
}

h2, h3 {
  text-align: left;
}

p, ul {
  margin: 10px 0;
}

.profile-actions {
  display: flex;
  justify-content: space-around; 
}

.button_profile {
  width: 100%;
  padding: 8px;
  margin: 10px;
}

.pagination {
  display: flex; 
  justify-content: flex-start; 
  margin-left: 10px; 
}

.page-button {
  width: 5%; 
  padding: 8px;
  margin: 5px; 
  text-align: center;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f8f9fa; 
  color: #333; 
  cursor: pointer;
}

.page-button.active {
  background-color: #007bff; 
  color: #fff; 
  border-color: #007bff; 
}

.page-button:hover {
  background-color: #0056b3; 
  color: #fff; 
  border-color: #0056b3; 
}
