.search-books-container {
  width: 80%;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(204, 205, 201, 0.6);
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown {
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-field {
  width: 300px;
  height: 36px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reset-button {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #0056b3;
}

.books-list {
  display: flex;
  flex-direction: column;
}

.book-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.pagination {
  display: flex;
  justify-content: flex-start; /* Align pagination to the left */
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

a {
  color: rgba(0, 0, 0, 0.6);
}